<html
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    	<title>Application</title>
		<script th:src="@{/static/duice/duice.js}"></script>
		<link rel="stylesheet" type="text/css" th:href="@{/static/duice/duice.css}">
		<script th:src="@{/static/duice/widget/duice-widget-pagination.js}"></script>
		<link rel="stylesheet" type="text/css" th:href="@{/static/duice/widget/duice-widget-pagination.css}">
		<script th:src="@{/static/jquery/jquery.js}"></script>
		<link rel="stylesheet" type="text/css" th:href="@{/static/nprogress/nprogress.css}">
		<script th:src="@{/static/nprogress/nprogress.js}"></script>
		<script th:src="@{/static/apps.js}"></script>
		<link rel="stylesheet" type="text/css" th:href="@{/static/apps.css}">
		<script>
			// variables
			const user = new apps.Map({
				username: null,
				password: null,
				message: null
			});
			
			window.addEventListener('load', function(){
				user.setFocus('username');
			});

			/**
			 * login
			 * @returns {Promise<boolean>}
			 */
			async function login() {
				let username = user.get('username');
				let password = user.get('password');
				if(!username){
					await _alert('[[#{core.core.emptyValue(#{core.user.id})}]]');
					user.setFocus('username');
					return false;
				}
				if(!password){
					await _alert('패스워드를 입력해주십시요.');
					user.setFocus('password');
					return false;
				}
				
				// request login
				let url = new URL('[[@{/login/process}]]', document.location.origin);
				let payload = new URLSearchParams();
				payload.append('username', username);
				payload.append('password', password);
				_fetch(url, {
					method: 'POST',
					body: payload
				}, true)
				.then(async function(response){
					if(response.ok){
						location.href='[[@{/}]]';
					}else{
						let json = await response.json();
						user.set('message', json.message);
						user.setFocus('username');
					}
				});
			}
		</script>
		<style>
			#message {
				min-height: 32px;
				font-weight: bold;
				color: orangered;
			}
		</style>
    </head>
	<body>
		<main class="apps-container apps-container--center apps-container--middle" style="height:100%;">
			<form onsubmit="return false;" style="width:80%; max-width:300px;">
				<div class="apps-container apps-container--gap apps-container--center">
					<h1 class="apps-logo">
						<span th:text="#{apps.web.title.login}"></span>
					</h1>
				</div>
				<div class="apps-container apps-container--gap apps-container--center">
					<input is="apps-input" type="text" data-apps-bind="user,username" th:placeholder="#{apps.core.user.id}" class="apps-align-center apps-text-bold"/>
				</div>
				<div class="apps-container apps-container--gap apps-container--center">
					<input is="apps-input" type="password" data-apps-bind="user,password" th:placeholder="#{apps.core.user.password}" class="apps-align-center apps-text-bold"/>
				</div>
				<div class="apps-container apps-container--gap apps-container--center">
					<button class="apps-button" onclick="login();" style="width:100%;">
						<img th:src="@{/static/image/icon-login.png}"/>
						<span th:text="#{apps.web.label.login}"></span>
					</button>
				</div>
				<div id="message" class="apps-container apps-container--gap apps-container--center">
					<span is="apps-span" data-apps-bind="user,message"></span>
				</div>
			</form>
		</main>
	</body>
</html>