<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="admin/_admin.html">
	<body>
		<main layout:fragment="_main">
			<script>
				var stompClient = null;
				const operatingSystem = new core.Map();
				var cpuLoadChart = null;
				var memoryChart = null;
				var diskChart = null;
				const threadInfos = new core.List();
				const beanInfos = new core.List();
				
				// on document loaded
				document.addEventListener("DOMContentLoaded", function (event) {
					connectWebSocket();
				});
				
				// connectWebSocket
				function connectWebSocket() {
					// connect websocket
					let url = new URL("/websocket", document.location.origin);
					url.protocol = (url.protocol === 'https:' ? "wss:" : "ws:");
					stompClient = Stomp.client(url);
					
					// connect					
	                stompClient.connect({}, function(frame) {
	                    console.log('Connected: ' + frame);
	                    
	                    // sets message receive listener
	                    stompClient.subscribe('/monitor', function(messsage) {
	                    	let body = JSON.parse(messsage.body);
	                        if(body instanceof Array){
	                        	let monitors = body;
	    						operatingSystem.fromJson(monitors[monitors.length-1].operatingSystem);
	    						initializeCpuLoadChart(monitors);
	    						initializeMemoryChart(monitors);
	    						initializeDiskChart(monitors);
	    						threadInfos.fromJson(monitors[monitors.length-1].threadInfos);
	    						beanInfos.fromJson(monitors[monitors.length-1].beanInfos);
	                        }else{
	                        	let monitor = body;
								operatingSystem.fromJson(monitor.operatingSystem);
								updateCpuLoadChart(monitor);
								updateMemoryChart(monitor);
								updateDiskChart(monitor);
								threadInfos.fromJson(monitor.threadInfos);
								beanInfos.fromJson(monitor.beanInfos);
	                        }
	                    });
	                    
	                    // get monitors
		                stompClient.send("/monitor/get-monitors", {}, "");
	                });

				}
				
				
				/**
				 * initializeCpuLoadChart
				 */
				function initializeCpuLoadChart(monitors) {
					let labels = new Array();
					let data = new Array();
					monitors.forEach(function(monitor){
						labels.push(moment(monitor.date).format('HH:mm:ss'));
						data.push(monitor.operatingSystem.cpuLoad);
					});
					
					// creates chart
					cpuLoadChart = new Chart(document.getElementById("cpuLoadChart").getContext('2d'), {
					    type: 'line',
					    data: {
					        labels: labels,
					        datasets: [
					        	{
						            label: 'Cpu Load',
						            data: data,
						            fill: true,
						            borderColor: 'steelblue',
						            backgroundColor: 'rgba(75, 192, 192, 0.2)',
						            borderWidth: 1
					        	}
					        ]
						},
					    options: {
							responsive: true,
					    	scales: {
								y: {
									min: 0,
									max: 1,
							        ticks: {
										stepSize: 0.2
									}
								}
							},
							elements: {
								point: {
									pointStyle: 'crossRot'
								}
							}
					    }
					});
				}
				
				/**
				 * updateCpuLoadChart
				 */
				function updateCpuLoadChart(monitor) {
					cpuLoadChart.config.data.labels.shift();
					cpuLoadChart.config.data.labels.push(moment(monitor.date).format('HH:mm:ss'));
					cpuLoadChart.config.data.datasets[0].data.shift();
					cpuLoadChart.config.data.datasets[0].data.push(monitor.operatingSystem.cpuLoad);
					cpuLoadChart.update();
				}
				
				/**
				 * initializeMemoryChart
				 */
				function initializeMemoryChart(monitors) {
					let labels = new Array();
					let data = new Array();
					let yMax;
					monitors.forEach(function(monitor){
						labels.push(moment(monitor.date).format('HH:mm:ss'));
						data.push(monitor.memory.used/1024/1024/1024);
						yMax = monitor.memory.max/1024/1024/1024;
					});
					
					// creates chart
					memoryChart = new Chart(document.getElementById("memoryChart").getContext('2d'), {
					    type: 'line',
					    data: {
					        labels: labels,
					        datasets: [{
					            label: 'Memory Used',
					            data: data,
					            fill: true,
					            borderColor: 'steelblue',
					            backgroundColor: 'rgba(75, 192, 192, 0.2)',
					            borderWidth: 1
					        }]},
					    options: {
							responsive: true,
							legend: {
							    position: 'top',
							    align: 'start',
							    labels: {
							    	boxWidth: 20,
							    	fontSize: 11,
							    	fontStyle: 'bold'
							    }
							},
					    	scales: {
								y: {
									min: 0,
									max: yMax,
							        ticks: {
										stepSize: 1,
									    callback: function(value, index, values) {
									        return Number.parseFloat(value).toFixed(2) + ' G';
									    }
									}
								}
							},
							elements: {
								point: {
									pointStyle: 'crossRot'
								}
							}
					    }
					});
				}
				
				/**
				 * updateMemoryChart
				 */
				function updateMemoryChart(monitor) {
					memoryChart.config.data.labels.shift();
					memoryChart.config.data.labels.push(moment(monitor.date).format('HH:mm:ss'));
					memoryChart.config.data.datasets[0].data.shift();
					memoryChart.config.data.datasets[0].data.push(monitor.memory.used/1024/1024/1024);
					memoryChart.update();
				}
				
				/**
				 * initializeDiskChart
				 */
				function initializeDiskChart(monitors) {
					let monitor = monitors[monitors.length-1];
					let disks = monitor.disks;
					let labels = new Array();
					let data = new Array();
					disks.forEach(function(disk){
						labels.push(disk.path);
						data.push((disk.total - disk.usable)/disk.total * 100);	
					});
	
					// creates chart
					diskChart = new Chart(document.getElementById("diskChart").getContext('2d'), {
					    type: 'bar',
					    data: {
					    	labels: labels,
					        datasets: [{
					            label: 'Disk Used',
					            data: data,
					            fill: true,
					            borderColor: 'steelblue',
					            backgroundColor: 'rgba(75, 192, 192, 0.2)',
					            borderWidth: 1
					        }]
						},
					    options: {
							responsive: true,
					    	scales: {
								y: {
									min: 0,
									max: 100,
							        ticks: {
										stepSize: 20,
									    callback: function(value, index, values) {
									        return value + ' %';
									    }
									}
								}
							},
							elements: {
								point: {
									pointStyle: 'crossRot'
								}
							}
					    }
					});
				}
					
				/**
				 * updateDiskChart
				 */
				function updateDiskChart(monitor) {
					let disks = monitor.disks;
					disks.forEach(function(disk, index){
						diskChart.config.data.datasets[0].data[index] = (disk.total - disk.usable)/disk.total * 100;
						diskChart.update();
					});
				}
			</script>
			<h1 class="core-title">
				<img th:src="@{/static/image/icon-monitor.png}"/>
				<span data-th-text="#{server.title.monitor}"></span>
			</h1>
			<hr class="core-hr"/>
			<div class="core-container core-container--fluid">
				<!-- ================================================== -->
				<!-- START: CPU,memory,disk								-->
				<!-- ================================================== -->
				<div style="width:20%;">
					<div style="text-align:left; font-weight:bold;">
						<img class="core-icon" th:src="@{/static/image/icon-system.png}"/>
						<span>System Info</span>
					</div>
					<table class="core-table" style="width:100%; font-size:10px;">
						<colgroup>
							<col style="width:50%;"/>
							<col/>
						</colgroup>
						<tr>
							<th>Name</th>
							<td><span is="core-span" data-core-bind="operatingSystem,name"></span></td>
						</tr>
						<tr>
							<th>Version</th>
							<td><span is="core-span" data-core-bind="operatingSystem,version"></span></td>
						</tr>
						<tr>
							<th>Architecture</th>
							<td><span is="core-span" data-core-bind="operatingSystem,arch"></span></td>
						</tr>
						<tr>
							<th>Available Processors</th>
							<td><span is="core-span" data-core-bind="operatingSystem,availableProcessors"></span></td>
						</tr>
						<tr>
							<th>CPU Load</th>
							<td><span is="core-span" data-core-bind="operatingSystem,cpuLoad"></span></td>
						</tr>
					</table>
				</div>
				<div style="width:20%;">
					<canvas id="cpuLoadChart"></canvas>
				</div>
				<div style="width:20%;">
					<canvas id="memoryChart"></canvas>
				</div>
				<div style="width:20%;">
					<canvas id="diskChart"></canvas>
				</div>
				<!-- ================================================== -->
				<!-- END: CPU,memory,disk								-->
				<!-- ================================================== -->
			</div>
			<div class="core-container core-container--fluid">
				<!-- ================================================== -->
				<!-- START: thread										-->
				<!-- ================================================== -->
				<div style="width:50%">
					<div style="text-align:left; font-weight:bold;">
						<img class="core-icon" th:src="@{/static/image/icon-thread.png}"/>
						<span>Thread Info</span>
					</div>
					<div style="width:100%; height:400px; display:inline-block; overflow-y:scroll; border:solid 1px #ccc;">
						<table is="core-table" 
						data-core-bind="threadInfos,threadInfo" 
						style="border:none; font-size:10px;">
							<colgroup>
								<col style="width:10%;"/>
								<col/>
								<col/>
								<col style="width:10%;"/>
								<col style="width:10%;"/>
								<col style="width:10%;"/>
								<col style="width:10%;"/>
							</colgroup>
							<thead style="background-color:#fafafa;">
								<tr>
									<th class="text-center">Thread ID</th>
									<th>Thread Name</th>
									<th>Thread State</th>
									<th>Waited Count</th>
									<th>Waited Time</th>
									<th>Block Count</th>
									<th>Block Time</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-center"><span is="core-span" data-core-bind="threadInfo,threadId"></span></td>
									<td><span is="core-span" data-core-bind="threadInfo,threadName"></span></td>
									<td><span is="core-span" data-core-bind="threadInfo,threadState"></span></td>
									<td class="text-right"><span is="core-span" data-core-bind="threadInfo,waitedCount"></span></td>
									<td class="text-right"><span is="core-span" data-core-bind="threadInfo,waitedTime"></span></td>
									<td class="text-right"><span is="core-span" data-core-bind="threadInfo,blockCount"></span></td>
									<td class="text-right"><span is="core-span" data-core-bind="threadInfo,blockTime"></span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- ================================================== -->
				<!-- END: thread										-->
				<!-- ================================================== -->

				<!-- ================================================== -->
				<!-- START: bean										-->
				<!-- ================================================== -->
				<div style="width:50%">
					<div style="text-align:left; font-weight:bold;">
						<img class="core-icon" th:src="@{/static/image/icon-bean.png}"/>
						<span>Bean Info</span>
					</div>
					<div style="width:100%; height:400px; display:inline-block; overflow-y:scroll; border:solid 1px #ccc;">
						<table is="core-table" 
						data-core-bind="beanInfos,beanInfo" 
						style="border:none; font-size:10px;">
							<colgroup>
								<col style="width:10%;"/>
								<col/>
								<col/>
							</colgroup>
							<thead style="background-color:#fafafa;">
								<tr>
									<th class="text-center">No</th>
									<th>Name</th>
									<th>Type</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-center"><span is="core-scriptlet" data-core-bind="beanInfo" data-core-value="return $context.index + 1;"></span></td>
									<td><span is="core-span" data-core-bind="beanInfo,name"></span></td>
									<td><span is="core-span" data-core-bind="beanInfo,type"></span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- ================================================== -->
				<!-- START: bean										-->
				<!-- ================================================== -->
				
			</div>
		</main>
	</body>
</html>

